{% import 'admin/user/_macros.html.twig' as user_macro %}

<div class="flex items-center space-x-5">
    <div class="flex-shrink-0">
        <div class="relative">
            {#<img class="h-16 w-16 rounded-full" src="https://randomuser.me/api/portraits/women/20.jpg" alt="" /> <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>#}
            <span class="inline-block h-16 w-16 rounded-full overflow-hidden bg-gray-100">
              <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
              </svg>
            </span>
        </div>
    </div>
    <div>
        <h1 class="text-2xl font-bold text-gray-900">{{ user.displayName|wordwrap(45, break='<br>', cut=true) }}
            {{ user_macro.user_primary_role(user, false) }}
        </h1>
        <p class="text-sm font-medium text-gray-500"><span class="text-gray-900">{{ '' }}</span> {{ 'user_management.show.registered_on'|trans({'regDateIso': (user.registeredAt|format_date(pattern="yyyy-MM-dd'T'HH:mm:ss")), 'regDate': user.registeredAt})|raw }}</p>
    </div>
</div>
