#@IgnoreInspection BashAddShebang
# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=8b3b0c85daa39eadd88abd547b370997
APP_LOCALE=en
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# Note that Park-Manger only supports PostgreSQL
DATABASE_URL="pgsql://root@localhost:5432/park_manager?charset=utf8&serverVersion=9.6"
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# To disable sending emails, use: "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

# A Park-Manager application consists of multiple sections, each with there own URI.
# Eg. "https://example.com/admin" or "/admin" for local development.
#
# Note:
# * For Security it's best to use static host's to ensure cookies are restricted by domain
# * A prefix must always begin with a / otherwise admin/ is seen as host admin and prefix /
# * A path is automatically constructed to prevent conflicts
# * Changing these values requires a manual cache:clear
#
# admin  : used by Administrators
# client : used by customers or regular users
# api    : used by the API-Platform specific endpoints (should be on a separate sub-domain)
#
# To use a variable host pattern see:
# See https://github.com/rollerworks/app-sectioning/blob/master/docs/install.md#dynamic-host-requirements
APP_ADMIN_SECTION="/admin"
APP_CLIENT_SECTION="/"
APP_API_SECTION="/api"

# Recommended for production:
#APP_ADMIN_SECTION="https://admin.example.com/"
#APP_CLIENT_SECTION="https://control.example.com/"
#APP_API_SECTION="https://api.example.com/"
