#@IgnoreInspection BashAddShebang
# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=8b3b0c85daa39eadd88abd547b370997
APP_LOCALE=en
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# Note that Park-Manger only supports PostgreSQL
DATABASE_URL="pgsql://root@localhost:5432/park_manager?charset=utf8&serverVersion=9.6"
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# To disable sending emails, use: "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

# The PRIMARY_HOST is used to configure access to the web API and resellers.
#
# Do not use "localhost" or an IP address!
#
# When set the api is accessible at "api.$PRIMARY_HOST" otherwise
# the api is accessible at "$PRIMARY_HOST/api"
#
# Resellers access (with the exception of administrator access) is only enabled
# when this value is set. Each reseller requires a unique domain name (configured
# with the application).
#
# Note: Unless debugging is enabled changing this value requires a manual cache:clear
PRIMARY_HOST=""

# Enable HTTPS for the application highly recommended!
# Disable for development (requires a valid certificate is installed)
ENABLE_HTTPS=false

###> symfony/messenger ###
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
###< symfony/messenger ###
