/web/bundles/
/web/assets/
/app/config/parameters.yml
/var/*
!var/.gitkeep
!var/cache/.gitkeep
!var/logs/.gitkeep
/vendor/
/bin/*
!bin/console

*.phar
phpunit.xml
.php_cs.cache

# ignore composer.lock as this will change very often
/composer.lock
