###> symfony/framework-bundle ###
.env
/var/
/vendor/
/web/bundles/
###< symfony/framework-bundle ###
.php_cs.cache
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
