{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "src\/UI\/Web\/Action"
        ]
    },
    "logs": {
        "text": "var/infection.log"
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false,
        "This": false
    },
    "testFrameworkOptions": "--exclude-group functional"
}
