includes:
	- vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
	- vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor-bin/phpstan/vendor/jangregor/phpstan-prophecy/src/extension.neon

parameters:
    autoload_files:
        - vendor-bin/phpstan/vendor/autoload.php
        - vendor/autoload.php
    excludes_analyse:
        - var/*
        - templates/*
        - translations/*

        - %currentWorkingDirectory%/src/*/*/Tests/**
        - %currentWorkingDirectory%/src/Core/Infrastructure/Console/Command/RegisterAdministratorCommand.php # Old file

    checkNullables: false # To many false positives

    symfony:
        container_xml_path: var/cache/dev/srcDevDebugProjectContainer.xml

    ignoreErrors:
        - '#__construct\(\) does not call parent constructor from .+#' # Perfectly valid reason.

        # Symfony
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:#' # XXX Needs Custom ReflectionProvider

        ## False positive
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:isEnabled\(\)#'
        - '#Property Doctrine\\ORM\\EntityRepository\:\:\$_em \(Doctrine\\ORM\\EntityManager\) does not accept Doctrine\\ORM\\EntityManagerInterface#' # Doctrine PHPDoc bug
        - '#Property Doctrine\\ORM\\EntityRepository\:\:\$_class \(Doctrine\\ORM\\Mapping\\ClassMetadata\) does not accept Doctrine\\Common\\Persistence\\Mapping\\ClassMetadata#'
        - '#Result of \&\& is always false#'

        - '#Call to an undefined method Exception\:\:getMessageName\(\)#'
        #- '#Call to an undefined method ParkManager\\Bundle\\ServiceBusBundle\\DependencyInjection\\Configurator\\MiddlewaresConfigurator\:\:#' # Magic call
        - '#Call to an undefined method object\:\:equals\(\)#' # ExpressionLanguage
