includes:
	- /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
	- /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
	- /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
	- /tools/.composer/vendor-bin/phpstan/vendor/jangregor/phpstan-prophecy/src/extension.neon

parameters:
    #reportUnmatchedIgnoredErrors: false

    level: 5
    paths:
        - ./src
        - ./public
        - ./bin
    excludes_analyse:
        - var/
        - vendor/
        - templates/
        - translations/
        - tests/

    checkNullables: false # To many false positives

    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/ParkManager_KernelDevDebugContainer.xml
        constant_hassers: false

    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:isEnabled\(\)#'

        ## False positive
        - '#Property Doctrine\\ORM\\EntityRepository<mixed>\:\:\$_em \(Doctrine\\ORM\\EntityManager\) does not accept Doctrine\\ORM\\EntityManagerInterface#' # Doctrine PHPDoc bug
        - '#Property Doctrine\\ORM\\EntityRepository<mixed>\:\:\$_class \(Doctrine\\ORM\\Mapping\\ClassMetadata\) does not accept Doctrine\\Persistence\\Mapping\\ClassMetadata#'
