<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
>
    <testsuites>
        <testsuite name="Park-Manager Test Suite">
            <directory>src/Common/Tests</directory>
            <directory>src/*/Bundle/*Bundle/Tests</directory>
            <directory>src/Module/*/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory>vendor/</directory>
                <directory>templates/</directory>
                <directory>web/</directory>
                <directory>var/</directory>
                <directory>etc/</directory>
                <directory>src/*/*Bundle/templates</directory>
                <directory>src/*/*Bundle/translations</directory>
                <directory>src/*/*Bundle/Tests</directory>
                <directory>src/Common/Tests</directory>
                <directory>src/Common/spec</directory>
                <directory>src/Common/Infrastructure/templates</directory>
                <directory>src/Common/Infrastructure/translations</directory>
                <directory>src/Module/*/templates</directory>
                <directory>src/Module/*/translations</directory>
                <directory>src/Module/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
</phpunit>
