{% extends 'layout.html.twig' %}

{% block title %}Form demonstration Example{% endblock %}

{% block content %}
<div class="mt-8">
    <div class="max-w-6xl mx-auto mt-8 px-4 sm:px-6 lg:px-8">
        <div class="bg-white p-8 border rounded-2xl shadow-sm text-sm">
            {{ form(form, {attr: {'class': 'space-y-8 divide-gray-200'}}) }}
        </div>
    </div>
</div>
{% endblock content %}
