{% extends 'layout.html.twig' %}

{% block title %}It works!{% endblock %}

{#{% block topbar %}
    <a href="{{ logout_url('admin') }}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">Logout Admin</a>
{% endblock topbar %}#}

{% block breadcrumbs %}
    <svg class="w-4 h-4 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
    <span>Dashboard</span>
    <span class="block self-center w-1 h-1 ml-2 mr-2 top-auto rounded-lg bg-gray-600"></span>
    <span>Webhosting</span>
    <span class="block self-center w-1 h-1 ml-2 mr-2 top-auto rounded-lg bg-gray-600"></span>
    <span>Rollerworks.net</span>
{% endblock %}

{% block content %}
    <div class="md:w-10/12 flex flex-col pt-3 pb-2 mb-3">


        <div class="bg-white p-8 rounded-sm shadow">
            <h1 class="text-3xl text-gray-800 lg:mb-2">Webhosting</h1>
            <div class="hidden lg:block mr-8 text-gray-700 font-light">
                <p class="mb-4"> Windows 10 automatically downloads and installs updates to make sure your device is
                    secure and up to date. This means you receive the latest fixes and security updates, helping your
                    device run efficiently and stay protected. In most cases, restarting your device completes the
                    update. Make sure your device is plugged in when you know updates will be installed. </p>
            </div>
        </div>

{#        <div class="flex justify-between bg-white -mt-1 p-8 border-t border-gray-200 rounded-sm shadow">
            <div class="flex">
                <svg class="w-8 h-8 fill-current text-gray-300 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                <div>
                    <span class="text-sm block">Traffic</span>
                    <span class="text-sm">5 GB</span>
                </div>
            </div>
            <div class="flex">
                <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.95 11A10 10 0 1 1 9 .05V11h10.95zm-.08-2.6H11.6V.13a10 10 0 0 1 8.27 8.27z"/></svg>
                Disk usage
            </div>
            <div class="flex">
                <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.95 11A10 10 0 1 1 9 .05V11h10.95zm-.08-2.6H11.6V.13a10 10 0 0 1 8.27 8.27z"/></svg>
                Disk usage
            </div>
        </div>#}

        <div class="bg-white mt-6 p-4 flex flex-wrap items-stretch justify-left rounded-sm shadow">
            <h2 class="w-full text-xl text-gray-800 border-b pb-2">Main Operations</h2>

            {% for label in ['Account', 'Email', 'FTP', 'Traffic Statistics', 'Subdomains', 'Planned Jobs', 'DNS'] %}
                <a href="#" class="flex justify-start w-full md:w-3/6 text-gray-700 p-6 hover:text-blue-600 hover:border-blue-300">
                    <div class="mt-2">
                        <svg class="fill-current h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M6.47 9.8A5 5 0 0 1 .2 3.22l3.95 3.95 2.82-2.83L3.03.41a5 5 0 0 1 6.4 6.68l10 10-2.83 2.83L6.47 9.8z"/>
                        </svg>
                    </div>
                    <div class="ml-4 tracking-wide">
                        <div class="text-lg font-medium">
                            {{ label }}
                        </div>
                        <div class="text-sm break-words"> Windows 10 automatically downloads and installs updates to
                            make sure your device is secure and up to date.
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="bg-white mt-6 p-4 flex flex-wrap items-stretch justify-left rounded-sm shadow">
            <h2 class="w-full text-xl text-gray-800 border-b pb-2">Databases</h2>

            {% for label in ['PostgreSQL', 'MariaDB'] %}
                <a href="#" class="flex justify-start w-full md:w-3/6 text-gray-700 p-6 hover:text-blue-600 hover:border-blue-300">
                    <div class="mt-2">
                        <svg class="fill-current h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M6.47 9.8A5 5 0 0 1 .2 3.22l3.95 3.95 2.82-2.83L3.03.41a5 5 0 0 1 6.4 6.68l10 10-2.83 2.83L6.47 9.8z"/>
                        </svg>
                    </div>
                    <div class="ml-4 tracking-wide">
                        <div class="text-lg font-medium">
                            {{ label }}
                        </div>
                        <div class="text-sm break-words"> Windows 10 automatically downloads and installs updates to
                            make sure your device is secure and up to date.
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
